# ==============================
# Windows
# ==============================
Thumbs.db
Desktop.ini

# ==============================
# Git
# ==============================
.git/

# ==============================
# Altium - Cache / History
# ==============================
__Previews/
History/
*.ddb.cache

# ==============================
# Altium - Project Logs / Outputs
# ==============================
Project Logs/
Project Outputs/
Outputs/
Output/
Fabrication/
Assembly/

# ==============================
# Altium - Temporary / Autosave
# ==============================
*.PcbDocPreview
*.SchDocPreview
*.AutoSave
*.bak
*.old
*.tmp

# ==============================
# Altium - Generated / Report
# ==============================
*.REP
*.LOG
*.RUL
*.DRR
*.APR_LIB
*.EXTREP

# ==============================
# Altium - CAM
# ==============================
CAMtastic/

# ==============================
# Archives
# ==============================
*.zip

# ==============================
# VSCode
# ==============================
.vscode/

# ==============================
# KiCad
# ==============================
fp-info-cache

# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]